* {
font-family: 'Roboto', sans-serif;
text-align: center;
color: blue;
}

h1 {
    color: red;
}

body {
    background-color: black;
}
.sites {
    background-color: orange;
    border-style: solid;
    border-color: blue;
    border-radius: 25;
    display: inline-block;
}