* {
font-family: 'Roboto', sans-serif;
text-align: center;
color: blue;
}

h1 {
    color: red;
}

body {
    background-color: black;
}
.sites {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-radius: 25;
    display: inline-block;
    size: 50px;
    padding: 20px 34px;
    margin: 4px 2px;
    cursor: pointer;
}