* {
font-family: 'Roboto', sans-serif;
text-align: center;
color: #1E555C;
}

h1 {
    color: red;
}

body {
    background-color: #44001A;
}
.sites {
    background-color: #FEEfDD;
    border-style: solid;
    border-color: #06D6A0;
    border-radius: 25px;
    display: block;
    size: 50px;
    padding: 20px 34px;
    margin: 4px 2px;
    cursor: pointer;
    border-width: 4px;
    color: #e9190f;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sites:hover {
   border-width: 8px;
   color: #9c0202;
}
